@font-face{
	font-family: "PT Sans";
	src: url(../fonts/PT_Sans/PT_Sans-Web-Bold.ttf);
	src: url(../fonts/PT_Sans/PT_Sans-Web-BoldItalic.ttf);
	src: url(../fonts/PT_Sans/PT_Sans-Web-Italic.ttf);
	src: url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
}

@font-face{
	font-family: "Cormorant Infant";
	src: url(../fonts/Cormorant_Infant/CormorantInfant-Bold.ttf);
	src: url(../fonts/Cormorant_Infant/CormorantInfant-BoldItalic.ttf);
	src: url(../fonts/Cormorant_Infant/CormorantInfant-Italic.ttf);
	src: url(../fonts/Cormorant_Infant/CormorantInfant-Light.ttf);
	src: url(../fonts/Cormorant_Infant/CormorantInfant-LightItalic.ttf);
	src: url(../fonts/Cormorant_Infant/CormorantInfant-Medium.ttf);
	src: url(../fonts/Cormorant_Infant/CormorantInfant-MediumItalic.ttf);
	src: url(../fonts/Cormorant_Infant/CormorantInfant-Regular.ttf);
	src: url(../fonts/Cormorant_Infant/CormorantInfant-SemiBold.ttf);
	src: url(../fonts/Cormorant_Infant/CormorantInfant-SemiBoldItalic.ttf);
}

html, body{
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

.top-line{
	text-align: center;
}

h1{
	font-family: "Cormorant Infant";
	color: #262626;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.18px;
}

.top-paragraph{
	color: #595959;
	font-family: "Cormorant Infant";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.08px;
}

.wraper{
	margin: 0 auto;
}

.menu{
	
}

.top-menu{
	 display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tap{
	color: #262626;
	font-family: "PT Sans";
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.08px;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
	list-style-type: none;
	margin-top: 35px;
    padding: 15px;
    border-top: 1px solid #e6e6e6;
}

.tap:hover{
	color: #48974c;
}

.appeal{
	background-image: url(../images/appeal.png);
	background-size: cover;
	height: 579px;
	background-position: top center;
	position: relative;
}

.appeal-text{
	background: #fff;
	width: 512px;
	min-height: 356px;
	position: relative;
	top: 80px;
	left: 88px;
	padding: 20px;
}

h2{
	color: #404040;
	font-family: "Cormorant Infant";
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: 0.3px;
}

.appeal-p{
	color: #404040;
	font-family: "PT Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.09px;
}

.start{
	padding: 15px 15px 15px 0px;
}

.finish{
	padding: 15px 0px 15px 15px;
}

.information{
	max-width: 1170px;
	min-height: 400px;
	margin-top: 30px;
}

.container{
	padding: 5px;
	display: inline-block;
	width: 48%;
}

.big-block{
	padding: 25px 40px;
    background: #fff;
    margin-bottom: 30px;
}

.data{
	color: #a6a6a6;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.07px;
	letter-spacing: 0.07px;
	text-transform: uppercase;
	position: relative;
	margin: 25px 0 11px 25px;
}

.data::before{
	content: "";
	position: absolute;
	width: 15px;
	height: 16px;
	background-image: url(../images/icon.png);
	top: 0px;
	left: -24px;
}

img{
	width: 100%;
}

h3{
	color: #262626;
	font-family: "Cormorant Infant";
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.15px;
	margin: 10px 0 7px 0;
}

.big-block>p{
	color: #737373;
	font-family: "PT Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.08px;
	margin: 7px 0 11px 0;
}

.container-mid{
	max-width: 1005px;
}

.left-container{
	margin-left: 65px;
}

.more-details{
	margin: 22px 0 25px 0;
	width: 157px;
	height: 56px;
	border: 1px solid #48974c;
	color: #48974c;
	background: #fff;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.07px;
	transition: .5s;
}

.more-details:hover{
	color: #fff;
	background: #48974c;
	transition: .5s;
}